body{
    margin: 0 15%;
    background-image: url(../img/bg.jpg);
    background-attachment: fixed;
    background-size: 100%;
}
/* header */
.header_1{
    color: #FFFFFF;
    text-align: center;
    margin-top: 100px;
    margin-bottom: 60px;
}
.header_1 h1{
    margin-bottom: 0;
    font-size: 70px;
}
.header_1 span{
    font-size: 15px;
}
.head_img{
    height: 450px;
}
.head_img img{
    width: 100%;
    height: 450px
}

/* section about */
.about div:first-of-type{
    background-color: #FFFFFF;
    text-align: center;
    padding: 50px 0;
}
.about div:first-of-type h2{
    font-size: 35px;
}
.about div:first-of-type hr{
    margin: 0 600px;
    color:  #586169;
}
.about div:first-of-type p{
    letter-spacing: 0.17em;
    font-size: 20px;
    color: #586169;
}
.about div:last-of-type{
    background-color: #F5F5F4;
    color: #888888;
    padding: 80px;
    font-size: 20px;
}
.about div:last-of-type p{
    padding: 15px;
}

/* section Vestibulum Convallis */
.vestibulum_convallis{
    background-color: #1E1F23;
    padding: 100px;
    text-align: center;
}

.vc_1{
    background-color: #161616;
    text-align: center;
    padding: 20px 0;
}

.vc_1 hr{
    margin: 0 550px;
    color: #888888;
    border: 0.1px solid #888888;
}
.vc_1 h2{
    color: #F5F5F4;
    font-size: 35px;
    margin-bottom: 15px;
}

.vc_1 p{
    color: #888888;
    text-transform: uppercase;
    letter-spacing: 0.17em;
}

.vc_img div{
    width: 50%;
    display: flex;
}
.vc_img{
    display: flex;
    flex-wrap: wrap;
}
.vc_img div img{
    width: 100%;
}


/* section last */
.content_1{
    display: flex;
}
.content_1 div:first-of-type{
    display: flex;
}
.content_1 div:last-of-type{
    padding: 80px ;
    display: flex;
    background-color: #F5F5F4;
    flex-direction: column;
    justify-content: center;
    
}
.content_1 div:last-of-type p{
    color: #888888;
}
.content_1 div:last-of-type h3{
    margin: 0;
}

/* content 2 */
.content_2{
    display: flex;
}

.content_2 div:first-of-type{
    display: flex;
    order: 1;
}
.content_2 div:last-of-type{
    padding: 80px ;
    display: flex;
    background-color: #1E1F23;
    flex-direction: column;
    justify-content: center;
}
.content_2 div:last-of-type p{
    color: #888888;
}
.content_2 div:last-of-type h3{
    color: #F5F5F4;
    margin: 0;
}

/* content 3 */
.content_3{
    display: flex;
}
.content_3 div:first-of-type{
    display: flex;
}
.content_3 div:last-of-type{
    padding: 80px ;
    display: flex;
    background-color: #F5F5F4;
    flex-direction: column;
    justify-content: center;
    
}
.content_3 div:last-of-type p{
    color: #888888;
}
.content_3 div:last-of-type h3{
    margin: 0;
}

/* footer */