body{
    margin: 0 15%;
    background-image: url(../img/bg.jpg);
    background-size: 100%;
    background-repeat: repeat-y;
}
/* header */
.header_1{
    color: #FFFFFF;
    text-align: center;
    margin-top: 100px;
    margin-bottom: 60px;
}
.header_1 h1{
    margin-bottom: 0;
    font-size: 70px;
}
.header_1 span{
    font-size: 15px;
}
.head_img{
    height: 450px;
}
.head_img img{
    width: 100%;
    height: 450px
}

/* section about */
.about div:first-of-type{
    background-color: #FFFFFF;
    text-align: center;
    padding: 50px 0;
}
.about div:first-of-type h2{
    font-size: 35px;
}
.about div:first-of-type hr{
    margin: 0 600px;
    color:  #586169;
}
.about div:first-of-type p{
    letter-spacing: 0.17em;
    font-size: 20px;
    color: #586169;
}
.about div:last-of-type{
    background-color: #F5F5F4;
    color: #888888;
    padding: 80px;
    font-size: 20px;
}
.about div:last-of-type p{
    padding: 15px;
}

